#loading-icon {
    width: 20px;
    visibility: hidden;
}

.paper_title{
    position: relative;
    float:left
}
.paper_abstract {
    /*font-family: Verdana;*/
    font-size: 10px;
}

#abstract_info{
    font-size: 17px;
    text-align: justify;
}

#abstract_title{
    font-size: 20px;
}

li {
    list-style-type: none;
}

#please_wait_text{
    text-align: center;
}
#please_wait_img{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;

}

#advanced_query_title{
    text-align: center;
}

#id_query_modal {
    height: 60px;
}

#advaned_button_div{
    text-align: center;
}

#keep_discard_buttons{
    text-align: center;
}

#about_text{
    margin-top: 100px;
    height:165px;
}
.justify {
    text-align: justify;
}

.progress-bar-success{
    color:black; !important;
}

#footer_text {
    text-align: center;
}

.form-signin.row {
    text-align: center;
    margin-top: 80px;
    height: 222px;
}

#modify_discard_changes {
    text-align: center;
}

#warning_text {
    text-align: center;
}

#stylish_blockquote {
    color: crimson;
}

#advanced_query_string_show {
    font-size: 22px;
    text-align: center;
}

#previous_queries{
    text-align: center;
}
#bla {
    text-align: center;
}


