{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <div class="page-header text-center">
        <h1 class="text-center">TITLE</h1>   <!-- ***************** USE OF JAVASCRIPT WITH RADIO BUTTONS TO DISPLAY THE TITLE?? -->
    </div>

    <div>
        <input type="radio" name="docs" value="all_docs" checked> All Documents <br/>
        <input type="radio" name="docs" value="kept_docs"> Kept Documents <br/>
        <input type="radio" name="docs" value="discarded_docs"> Discarded Documents <br/> <br/>
    </div>

    <!-- CHECK THE RADIO BUTTON AND DEPNDING ON THE VALUE DISPLAY THE RELEVANT DOCUMENTS????

        IF ALL DOCUMENTS SELECTED SHOW THEM WITH TWO BUTTONS
        IF KEPT DOCUMENTS SELECTED SHOW THEM WITH A DISCARD BUTTON
        IF DISCARDED DOCUMENTS SELECTED SHOW THEM WITH A KEEP BUTTON


        -->

    {% if category %}
        {% if pages %}
        <ul>
                {% for page in pages %}
                <div>
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
                {% endfor %}
                </ul>
        {% else %}
                <strong>No pages currently in category.</strong>
                {% endif %}
    {% endif %}

{% endblock %}