{% extends 'sysrev/base.html' %}

{# Needed to load the script for retreiving document count #}
{% load staticfiles %}

{% block body_public %}
    <h1 class="page-header text-center">New Review</h1>

    <form class="form-signin" role="form" method="post" action="{% url 'add_review' %}">
        {% csrf_token %}

        <input class="form-control" id="id_title" name="title" type="text" placeholder="Enter review title" required/><br/>

        <input class="form-control" id="id_query" name="query_string" type="text" placeholder="Enter query" required/><br/>


        <div class="btn-block" id="advaned_button_div">
        <button type="button" id="advanced" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Advanced</button><br/>
        </div><br/>
        
        <textarea class="form-control" rows="6" id="review_info" name="description" type="text" placeholder="Enter description of the review here" required></textarea><br/>


        <img id="loading-icon" src="{% static 'images/loading.gif' %}">
        <span id="document-count"></span>

        <br/><br/>
        <div id="keep_discard_buttons">
        <button type="submit" data-toggle="modal" data-target=".bs-example-modal-sm" class="btn btn-lg btn-success">Create</button>

        <a href="{% url 'index' %}" class="btn btn-lg btn-danger">Discard</a>
        </div>

    </form>

<!-- Large modal for advanced query interface -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <h3 id="advanced_query_title">Advanced Query Builder</h3> <br/>

        <div class="readability_score">
            <!--<div class="col-sm-6">Readability</div>-->
            <div class="input-group input-group-sm mtb10">

              <span class="input-group-addon" id="sizing-addon2">
                          <div class="sb_line">
                                <select id="not_selector">
                                    <option value="1"></option>
                                    <option value="2">NOT</option>
                                </select>
                          </div>

              </span>
              <p><input class="form-control" id="id_query_modal" aria-describedby="sizing-addon2" name="query_string_advanced" type="text" placeholder="Enter advanced query" required /></p><br/>
              <span class="input-group-addon " id="sizing-addon2">
                  <div class="sb_line">
                        <select id="and_or_selector">
                            <option value="AND">AND</option>
                            <option value="OR">OR</option></select>
                        <!--<label > Select Field</label><br/>-->
                  </div>

              </span>
              <span class="input-group-addon">
                  <div id="plus_button">
                        <button id="button_add_new_row"><i class="glyphicon glyphicon-plus"></i></button>
                    </div><br/>

              </span>
            </div>
          </div>
        <!--<p><input class="form-control" id="id_query_modal" name="query_string_advanced" type="text" placeholder="Enter advanced query" required/></p><br/>-->

{#        <div class="sb_line">#}
{#            <select id="not_selector">#}
{#                <option value="1"></option>#}
{#                <option value="2">NOT</option>#}
{#            </select>#}
{#            <!--<label > Select Field</label>-->#}
{#        </div>#}
{##}
{#        <div class="sb_line">#}
{#            <select id="and_or_selector">#}
{#                <option value="AND">AND</option>#}
{#                <option value="OR">OR</option></select>#}
{#            <!--<label > Select Field</label><br/>-->#}
{#        </div>#}
{##}
{#        <div id="plus_button">#}
{#            <i class="glyphicon glyphicon-plus"></i>#}
{#        </div><br/>#}
        <div class="list"></div></br>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save_button" >Save</button>
        </div>

    </div>
  </div>
</div>


<!-- Small modal for creating a new review -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <h3 id="please_wait_text">Please wait, your query is being processed.</h3> <br/>
        <img src="../../static/images/please_wait_loading.gif" id="please_wait_img">
    </div>
  </div>
</div>


    <script src="{% static 'js/add_review_advanced_search_add_another_row.js' %}"></script>
    <script src = "{% static 'js/loading.js' %}"></script>
    <script src="{% static 'js/get_document_count.js' %}" ></script>

{% endblock %}