{% extends 'sysrev/base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}
    <div class="page-header text-center">
        <h1>Welcome {{ user.username }}!</h1>
    </div>

    <a href="{% url 'add_category' %}" class="btn btn-success ">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Review
    </a>

    {% if message != None %}
        <span>{{ message }}</span>
    {% endif %}

    <div class="row placeholders">
        <div class="placeholder">
            <br/>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Reviews</h3>
                </div>
            </div>

            {% if reviews %}
                <ul class="list-group">
                    {% for review in reviews %}
                        {{ review.id }}

                        <li class="list-group-item">
                            <div class="row">
                                <!-- PROCESS BAR -->
                                <div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning" style="width:{{ review.left_perc }}% ">Left: {{ review.documents_left }}</div>
                                        <div class="progress-bar progress-bar-success" style="width: {{ review.kept_perc }}% ">Kept: {{ review.documents_kept }}</div>
                                        <div class="progress-bar progress-bar-danger" style="width: {{ review.discarded_perc }}% ">Discarded: {{ review.documents_discarded }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">{{ review.title }}</div>
                                <div class="col-xs-6">{{ review.description }}</div>
                                <div class="col-xs-1">{{ review.query_String }}</div>
                                <div class="col-xs-2"><a href="/sysrev/review/{{ review.id }}" class="btn btn-default">Continue/View</a></div>
                                <div class="col-xs-1"><a href="/sysrev/delete/{{ review.id }}" class="btn btn-default">Delete</a></div>
                            </div>
                        </li><br/>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no reviews present.</strong>
            {% endif %}
        </div>
    </div>


    <p> Visits: {{ visits }}</p>
	<script src="../../static/js/delete_review.js"></script>
{% endblock %}