{% extends 'sysrev/base.html' %}

{# Needed to load the script for retreiving document count #}
{% load staticfiles %}

{% block body_public %}
    <h1 class="page-header text-center">Edit Review</h1>

    <form class="form-signin" role="form" method="post" action="/sysrev/review/edit/{{ review.id }}/">
        {% csrf_token %}

        <input class="form-control" id="id_title" name="title" type="text" placeholder="Enter review title" required value="{{ review.title }}"/><br/>
        <input class="form-control" id="id_query" name="query_string" type="text" placeholder="Enter query" required value="{{ review.query_string }}"/><br/>
        <textarea class="form-control" rows="6" id="review_info" name="description" type="text" placeholder="Enter description of the review here" required >{{ review.description }}</textarea><br/>


        <img id="loading-icon" src="{% static 'images/loading.gif' %}">
        <span id="document-count"></span>

        <br/>

        {% if queries %}
            <h5>List of previous queries:</h5>
            <ul>
                {% for query in queries %}
                    <li>{{ query.string }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <br/>

        <button type="submit" data-toggle="modal" data-target=".bs-example-modal-sm" class="btn btn-lg btn-success">Modify</button>

        <a href="/sysrev/review/{{ review.id }}" class="btn btn-lg btn-danger">Discard</a>

    </form>


<!-- Small modal -->

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <h3 id="please_wait_text">Please wait, your query is being processed.</h3> <br/>
        <img src="../../static/images/please_wait_loading.gif" id="please_wait_img">
    </div>
  </div>
</div>


    <script src = "{% static 'js/loading.js' %}"></script>
    <script src="{% static 'js/get_document_count.js' %}" ></script>

{% endblock %}