{% extends 'sysrev/base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <div class="page-header text-center">
        <h1>Screening</h1>
    </div>

    <div>
        <h3 class="text-center">{{ category_name }}</h3>
        <label>{{ title }}</label><br/>
        <a href="/sysrev/category/{{category.slug}}/viewed_documents/" class="btn btn-lg btn-primary" >Viewed Documents</a><br/><br/>
    </div>


{% if papers %}
    <ul>
        {% for paper in papers %}
            <div class="row">
                <div class="col-xs-10">
                        <a href="{{ paper.url }}" class ="paper_title" id="abstract_title">{{ paper.title }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10">
                    <p id="abstract_info" class="paper_abstract">{{ paper.abstract }}</p>
                </div>
            <br/>
                <div class="col-xs-2">
                    <!--<button type="submit" class="btn btn-success">Keep</button>-->
                    <a href="/sysrev/review/abstract/{{ paper.id }}/{{ 1 }}" class="btn btn-lg btn-success" >Keep</a><br/><br/>
                    <a href="/sysrev/review/abstract/{{ paper.id }}/{{ 0 }}" class="btn btn-lg btn-danger" >Discard</a><br/><br/>
                    <!--<button type="submit" class="btn btn-danger">Discard</button>-->
                </div>

            </div><br/>

        {% endfor %}
    </ul>
    <strong>No pages currently in category.</strong>
{% endif %}


    <!-- TEMPORARY -->
    <br/><br/><br/><br/> (Temporary) <br/><br/>
    <a href="/sysrev/category/{{category.slug}}/final/" class="btn btn-lg btn-primary" >Final</a><br/><br/>
    <a href="/sysrev/category/{{category.slug}}/done/" class="btn btn-lg btn-primary" >Done</a><br/><br/>

{% endblock %}