
{% extends 'sysrev/base.html' %}

{% block body_block %}

    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

     <h1 class="page-header text-center">Update Information</h1>

    <div class="form-signin row">
	    <div class="span6"><a class="btn btn-primary btn-lg" href="/sysrev/update_password">Change password</a></div> <br/>
	    <div class="span6"><a class="btn btn-primary btn-lg" href="/sysrev/update_email">Update email</a></div>
    </div>
   
{% endblock %}