
{% extends 'sysrev/base.html' %}

{% block body_block %}

    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

     <h1 class="panel-heading text-center">Change Information</h1>
	 
    <form id="user_form" class="form-signin" method="post" action="/sysrev/update_password/" enctype="multipart/form-data">

        {% csrf_token %}
        <input type="password" class="form-control" placeholder="Password" id="id_password" name="password"  required /><br/>
        <input type="password" class="form-control" placeholder="Repeat assword" id="id_repeatPassword" name="repeatPassword"  required /><br/>

        {% if update_error %}
			<div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Passwords do not match
            </div>
        {% endif %}

		{% if update_success %}
            <div class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Password changed successfully!
            </div>
        {% endif %}

        <!-- Provide a button to click to submit the form. -->
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" >Change</button>
    </form>

   
{% endblock %}
{% block login_block %}{% endblock %}

